login*

DumpSetup.exe

dumps/

addons\XIPivot\data\DATs\*
addons/XIPivot/data/DATs/*

addons/PartyBuffs/icons/*
addons\PartyBuffs\icons\*

addons/findAll/data/*
addons\findAll\data\*

*.png
*.DAT
*.au3
*.bmp

crash.log
console.log

addons/XIPivot/data/DATs/XI-View/ROM/119/57.DAT
addons/XIPivot/data/DATs/XI-View/ROM/119/51.DAT
plugins/*.dll
*.bat

.vscode/settings.json
addons/GearInfo/data/*
addons/otto/.vscode/settings.json
addons/otto/data/*
*settings.xml
*README.md
FFXI_Dailys&Todos.txt
Hook.dll
res/*
Windower.exe
