login*

DumpSetup.exe

dumps/

addons\XIPivot\data\DATs\*
addons/XIPivot/data/DATs/*

addons/PartyBuffs/icons/*
addons\PartyBuffs\icons\*

addons/findAll/data/*
addons\findAll\data\*

*.png
*.DAT
*.au3
*.bmp

crash.log
console.log

addons/XIPivot/data/DATs/XI-View/ROM/119/57.DAT
addons/XIPivot/data/DATs/XI-View/ROM/119/51.DAT
plugins/*.dll
addons/findAll/data/Chixslave.lua
addons/findAll/data/Onechix.lua
addons/findAll/data/Threechix.lua
addons/findAll/data/Twochix.lua
